body {
  padding-top: 70px;
  overflow-x: hidden;
}

h1 {
  color: black;
  font-size: 40px;
  text-align: center;
  font-family: 'Zilla Slab', serif;
}

h2 {
color: rgba(247,202,201,1);
font-size: 28px;
text-align: center;
font-family: 'Zilla Slab', serif;
padding-bottom: 5px;
}

h3 {
  color: rgba(247,202,201,1);
  font-size: 22px;
  text-align: center;
  font-family: 'Zilla Slab', serif;
  font-style: italic;
  }

.bx-wrapper, .bx-viewport {
  max-height: 400px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  vertical-align: middle;
}

/*.bx-wrapper {
width: auto;
height: 200px;
}

.bx-viewport {
width: auto;
height: 200px;
}

*/

.bxslider img {
  position: relative;
  background-size: contain;
  width: 100%;
}





.bxslider h2 {
  font-size: 40px;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}

h2 span {
   color: rgba(247,202,201,1);
   font-family: 'Zilla Slab', serif;
   letter-spacing: -1px;
   padding-top: 0px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
}

#social-buttons {
text-align: center;
padding-bottom: 50px;
padding-top: 10px;
}


p {
  color: black;
  font-size: 18px;
  text-align: center;
  font-family: 'Zilla Slab', serif;
}

ul.nav li{
    display: inline-block;
    margin: 0;
    text-align: center;
    color: rgba(247,202,201,1);
    font-family: 'Zilla Slab', serif;
    font-size: 18px;
}

#review {
  display: inline-block;
  text-align: center;
  margin: 50px;

}

#review img {
  max-width: 300px;
  max-height: 300px;
}

#social-buttons button {
  color: white;
  text-align: center;
  margin: auto;
}

#oftheweek {
  padding: 0px 120px 0px 120px;
}

#oftheweek p {
  text-align: justify;
  text-justify: inter-word;
}

.navbar-form {
  padding-right: 35px;
  font-size: 16px;
  font-family: 'Zilla Slab', serif;
  color: black;
}

.btn {
  background-color: rgba(247,202,201,1);
  border-color: rgba(247,202,201,1);
}
